<header>
  <div class="p-grid">
    <div class="p-col-3">
      <div class="logo">
        <img src="assets/images/logo.png" alt="logo" />
      </div>
    </div>
    <div class="p-col-3 search">
      <lib-products-products-search></lib-products-products-search>
    </div>
    <div class="p-col-3 p-offset-1 navigation">
      <sn_shop_client-navigation></sn_shop_client-navigation>
    </div>
    <div class="p-col-2 tools">
      <i class="pi pi-user p-text-secondary" style="font-size: 1.5rem"></i>
      <lib-orders-cart-icon></lib-orders-cart-icon>
    </div>
  </div>
</header>
