<div class="admin-page">
  <p-card header="Dashboard" subheader="Latest Updates">
    <div class="p-grid">
      <div class="p-col-5">
        <p-card
          styleClass="d-orders"
          [style]="{ 'background-color': '#5b7d91' }"
        >
          <div class="d-item">
            <div>
              <i class="pi pi-shopping-cart"></i><br />
              <span class="name">Orders</span>
            </div>
            <span class="number">1</span>
          </div>
        </p-card>
      </div>
      <div class="p-col-5 p-offset-1">
        <p-card
          styleClass="d-products"
          [style]="{ 'background-color': '#7689e9' }"
        >
          <div class="d-item">
            <div>
              <i class="pi pi-briefcase"></i><br />
              <span class="name">Products</span>
            </div>
            <span class="number">2</span>
          </div>
        </p-card>
      </div>
      <div class="p-col-5">
        <p-card
          styleClass="d-users"
          [style]="{ 'background-color': '#76c6cc' }"
        >
          <div class="d-item">
            <div>
              <i class="pi pi-users"></i><br />
              <span class="name">Users</span>
            </div>
            <span class="number">3</span>
          </div>
        </p-card>
      </div>
      <div class="p-col-5 p-offset-1">
        <p-card
          styleClass="d-totalsales"
          [style]="{ 'background-color': '#ddaa7a' }"
        >
          <div class="d-item">
            <div>
              <i class="pi pi-dollar"></i><br />
              <span class="name">TotalSales</span>
            </div>
            <span class="number"> 100 LKR </span>
          </div>
        </p-card>
      </div>
    </div>
  </p-card>
</div>
